@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');

:root {
    --intro-white: #FFF;
    --intro-light-gray: #DDD;
    --intro-black: #111;
    --prof-white: #F0F4F8;
    --prof-gray: #CECECE;
    --prof-black: #111111;
    --prof-blue: #002082;
    --whimsy-white: #EEE;
    --whimsy-black: #181818;
    --whimsy-pink: #f90874;
    --whimsy-cyan: #08f9f6;
    --whimsy-green: #37ec01;
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

#andrewbotics {
    font-size: min(8vw, 5rem);
    color: var(--intro-black);
    display: inline-block;
    text-shadow: 0.15vw 0.1vw var(--intro-white);
    margin: 10vh;
    font-family: "Comic Sans MS";
}

#camera {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#boards {
    width: 300vw;
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100vw);
}

body.show-professional #boards {
    transform: translateX(0vw);
}

body.show-whimsy #boards {
    transform: translateX(-200vw);
}

#intro-board, #prof-board, #whimsy-board {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    overflow-y: auto;
}

#intro-board {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, var(--prof-white), var(--whimsy-black));
    color: var(--intro-white);
    align-content: center;
    text-align: center;
}

#prof-board {
    background-color: var(--prof-white);
    color: var(--prof-blue);
    font-family: 'IBM Plex Mono';
}

#whimsy-board {
    background-color: var(--whimsy-black);
    color: var(--whimsy-white);
    font-family: 'Bitcount Single';
}

.intro-parent {
    display: flex;
    justify-content: center;
}

.intro-child {
    flex: 1;
    margin: 0.5rem;
    padding: 1rem;
    background-color: var(--intro-light-gray);
    border-radius: 1rem;
}

.intro-child-text {
    font-size: min(2vw, 1.25rem);
    text-align: center;
}

.prof {
    font-size: min(2vw, 1.25rem);
}

.prof-big {
    font-size: min(2.5vw, 1.75rem);
}

.prof-bigger {
    font-size: min(3vw, 2.25rem);
}

.prof-child {
    background-color: var(--prof-white);
    border: 1px solid var(--prof-blue);
}

.prof-button {
    font-size: min(2vw, 1.25rem);
    border: 1px solid var(--prof-blue);
}

.prof-button:active {
    background-color: var(--prof-gray);
}

.prof, .prof-child, .prof-button, .prof-skills, .prof-big, .prof-bigger {
    font-family: 'IBM Plex Mono';
    font-weight: 250;
    color: var(--prof-blue);
}

.prof-big, .prof-bigger {
    font-weight: 400;
}

.whimsy-pink {
    text-shadow: 
        0 0 0.5rem var(--whimsy-pink),
        0 0 1rem var(--whimsy-pink),
        0 0 1.5px var(--whimsy-pink),
        0 0 2px var(--whimsy-pink);
}

.whimsy-cyan {
    text-shadow: 
        0 0 0.5rem var(--whimsy-cyan),
        0 0 1rem var(--whimsy-cyan),
        0 0 1.5px var(--whimsy-cyan),
        0 0 2px var(--whimsy-cyan);
}

.whimsy-green {
    text-shadow: 
        0 0 0.5rem var(--whimsy-green),
        0 0 1rem var(--whimsy-green),
        0 0 1.5px var(--whimsy-green),
        0 0 2px var(--whimsy-green);
}

.whimsy-pink, .whimsy-cyan, .whimsy-green {
    font-size: min(2vw, 1.25rem);
}

.whimsy-big {
    font-size: min(2.5vw, 1.75rem);
}

.whimsy-bigger {
    font-size: min(3vw, 2.25rem);
}

.whimsy-child {
    background-color: var(--whimsy-black);
    border: 1px solid white;
    box-shadow:
        inset 0 0 20px var(--whimsy-cyan);
}

.whimsy-button {
    font-size: min(2vw, 1.25rem);
    border: 1px solid white;
    box-shadow:
        inset 0 0 15px var(--whimsy-pink),
        0 0 15px var(--whimsy-pink);
}

.whimsy-button:active {
    box-shadow:
        inset 0 0 30px var(--whimsy-pink),
        0 0 30px var(--whimsy-pink);
    text-shadow: 
        0 0 0.5rem var(--whimsy-pink),
        0 0 1rem var(--whimsy-pink),
        0 0 1.5px var(--whimsy-pink),
        0 0 2px var(--whimsy-pink),
        0 0 2.5px var(--whimsy-pink),
        0 0 3px var(--whimsy-pink);
}

.whimsy-pink, .whimsy-cyan, .whimsy-green, .whimsy-child, .whimsy-button, .whimsy-skills {
    font-family: 'Bitcount Single';
    color: var(--whimsy-white);
}

.prof-button, .whimsy-button {
    padding: min(0.8vw, 0.5rem) min(1.6vw, 1rem);
    margin: 0.5rem;
    text-align: center;
    align-content: center;
    border-radius: min(3vw, 2rem);
    cursor: pointer;
    background-color: transparent;
    transition: all 0.1s ease-out;
}

#prof-about, #whimsy-about {
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#prof-about p, #whimsy-about p {
    width: fit-content;
    margin: 0.5rem;
}

.prof-skills, .whimsy-interests, .whimsy-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.prof-skills p, .whimsy-interests p, .whimsy-skills p {
    border-radius: 1.5rem;
    padding: min(0.8vw, 0.5rem) min(1.6vw, 1rem);
    font-size: min(2vw, 1.25rem);
    margin: 0.25rem !important;
}

.prof-skills p {
    border: 1px solid var(--prof-blue);
}

.whimsy-interests p {
    border: 1px solid white;
    box-shadow:
        inset 0 0 15px var(--whimsy-cyan),
        0 0 15px var(--whimsy-cyan);
    text-shadow: 
        0 0 0.5rem var(--whimsy-cyan),
        0 0 1rem var(--whimsy-cyan),
        0 0 1.5px var(--whimsy-cyan),
        0 0 2px var(--whimsy-cyan);
}

.whimsy-skills p {
    border: 1px solid white;
    box-shadow:
        inset 0 0 15px var(--whimsy-green),
        0 0 15px var(--whimsy-green);
    text-shadow: 
        0 0 0.5rem var(--whimsy-green),
        0 0 1rem var(--whimsy-green),
        0 0 1.5px var(--whimsy-green),
        0 0 2px var(--whimsy-green);
}